body {
  overflow: hidden;
  background: #E5E1E4;
}

.experience {
  position: fixed;
  inset: 0;
  z-index: 1;

  .canvas {
    width: 100%;
    height: 100%;
  }
}

#root {
  position: fixed;
  inset: 0;
  z-index: 10;
}
